body{
    height: 100vh;
    margin: 0;
    background-color: #d5e1ef;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2196F3;
    width: 100%;
    padding: 10px;
    gap: 850px;
    color: #FFFFFF;
}

header h1{
    margin-left: 50px;
}

/* Login */

.container .log-reg-container{
    background-color: #FFFFFF;
    width: 500px;
    margin-top: 5%;
    padding: 50px;
    border-radius: 20px;
}

div.username p{
    margin: 0;
    margin-left: 2px;
}

div.password p{
    margin-bottom: 0;
    margin-left: 2px;
}

/* Register */

div.first-name p{
    margin-bottom: 0;
    margin-left: 2px;
}

div.last-name p{
    margin-bottom: 0;
    margin-left: 2px;
}
div.email p{
    margin-bottom: 0;
    margin-left: 2px;
}

/* User Input */

input{
    width: 100%;
    height: 30px;
    border: .5px solid #76BFF7;
    border-radius: 10px;
    color: #FFFFFF;
    margin-top: 10px;
    padding: 10px;
    margin-left: 0;
}

/* Button */
button{
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 2px;
    padding: 15px 30px;
    background-color: #2196F3;
    color: #FFFFFF;
}

/* Message */

div.message{
    background-color: #FFFFFF;
    width: 500px;
    margin-top: 5%;
    padding: 50px;
    border-radius: 20px;
}

/* To do */

.to-do{
    background-color: #FFFFFF;
    width: 500px;
    margin-top: 5%;
    padding: 50px;
    border-radius: 20px;
}
